<template>
  <div class="about">
  <Appbar></Appbar>
    <v-container>
    <v-responsive>
    <v-form>
    
    <v-row>
    <v-col cols="6" lg=4 sm=4 md=4 >
    <h2 class="primary--text">Add Blog</h2>
   </v-col>
   <v-col cols="6" lg=3 sm=3 md=3>
   <p>language</p>
   <v-select
    :items="lang"
          label=" "
          outlined
          dense>
   </v-select>
    </v-col>
    </v-row>
    <v-row>
    <v-col cols="12" sm=8 md=8 lg=8 class="mt-0">
    <p>Blog Title</p>
    <v-text-field outlined dense full-width v-model="title" label=" " />
    </v-col>
    <v-col cols="12"  sm=3 md=4 lg=4 class="mt-0">
   <p>Date</p>
   <v-text-field outlined v-model="date"  dense label="dd-mm-yyyy " />
   </v-col>
   </v-row>
    <v-row>
   <v-col cols="12" sm=8 md=8 lg=8 class="mt-0">
   <p>One Liner</p>
   <v-text-field  v-model="onel" dense outlined label=" " />
   </v-col>
   </v-row>

   <h4>Category</h4>
   <v-row wrap>
   <v-col cols="12" lg=2 md=3 sm=3 class="mt-0">
   <v-checkbox v-model="categories" label="Latest Articles" value="Latest"  hide-details></v-checkbox>
   </v-col>
   <v-col cols="12" lg=2 md=3 sm=4 class="mt-0">
   <v-checkbox v-model="categories" label="Business Ideas" value="Business" hide-details>  
   </v-checkbox>
   </v-col>
   <v-col cols="12" lg=2 md=4 sm=4 class="mt-0">
   <v-checkbox v-model="categories" label="Grow your Sales" value="Grow" hide-details>        
   </v-checkbox>
   </v-col>
   <v-col cols="12" lg=2 md=3 sm=3 class="mt-0">
   <v-checkbox v-model="categories" label="Product updates" value="Product" hide-details>
   </v-checkbox>
   </v-col>
   <v-col cols="12" lg=2 md=4 sm=4 class="mt-0">
   <v-checkbox v-model="categories" label="Inspiring Sales" value="Inspiring" hide-details></v-checkbox>
   </v-col>
   </v-row>

   <h3 class="primary--text mt-5">About Author</h3>       
   <v-row>
   <v-col cols="12" sm=4 md=4 lg=4>
   <p>Name</p>
   <v-text-field outlined label=" "  dense
   />
   </v-col>
   </v-row>

   <v-row>
   <v-col cols="12" lg="8" md=8 sm=8>
   <p>About</p>
   <v-textarea outlined rows="5" auto-grow label="" ></v-textarea>
   </v-col>
   <v-col cols="12" lg=2 sm=2 md=3>
   <p>Upload Image</P>
 <croppa v-model="myCroppa1"
 :width="100"
        :height="100"
        :label="'Upload image'"
        :canvas-color="'#EEEEEE'"
        :placeholder="''"
        :placeholder-font-size="0"
        :placeholder-color="'default'"></croppa>
   </v-col>
   </v-row>

   <div>
   <v-row>
   <v-col>
   <h3 class="primary--text">Sections</h3>
   </v-col>
   
   <v-col lg=10>
    <v-btn color="#21b0cc" dark class="text-capitalize"> + Add New </v-btn>
   </v-col>
   </v-row>
   </div>
   <v-row>
   <v-col cols="12" sm=8 lg=8>
   <p>Subheading</p>
   <v-text-field outlined label=" "  dense/>
   </v-col>
   </v-row>
   <v-row>
   <v-col cols="12" sm=8 lg="8">
    <p>Paragraphs</p>
   <v-textarea full-width outlined label=" " auto-grow></v-textarea> 
   </v-col>
   <v-col cols="7" sm=3 lg=2>
   <p>Upload Image</p>
   <croppa v-model="myCroppa2"
 :width="170"
        :height="100"
        :label="'Upload image'"
        :canvas-color="'#EEEEEE'"
        :placeholder="''"
        :placeholder-font-size="0"
        :placeholder-color="'default'"
        initial-size="natural"
         initial-position="right"></croppa>
         
         <p>Image position</p>
         <v-select
          :items="items"
          label=" "
          outlined
          dense
          
        ></v-select>
        
   </v-col>
   </v-row>
<h3 class="pt-0">Tags</h3>

  <v-row>
  <v-col>
   <Tags/>
   </v-col>
   </v-row>
   <v-row>
   <v-col cols=12 sm=8 md=8 lg=8>
   <p>Note</p>
   <v-text-field outlined label=" "  dense/>  
  </v-col>
  </v-row> 
   <h4 class="primary--text">Social Links</h4> 
   <v-row>
   <v-col cols=3 lg=1 sm=2 md=1 mt-2>
   <v-btn>
   <v-icon color="primary" >mdi-twitter</v-icon>
   </v-btn>
   </v-col>
   <v-col cols=9 lg=7 md=7 sm=7>
   <v-text-field outlined label=" "  dense/> 
   </v-col> 
   </v-row>
   <v-row>
   <v-col cols=3 lg=1 md=1 sm=2>
   <v-btn>
   <v-icon color="primary">mdi-facebook</v-icon>
   </v-btn>
   </v-col>
   <v-col cols=9 lg=7 md=7 sm=7>
   <v-text-field outlined label=" "  dense/>  
   </v-col>
   </v-row>   
   <v-row>
   <v-col cols=3 lg=1 md=1 sm=2>
   <v-btn>
   <v-icon color="primary" >mdi-linkedin</v-icon>
   </v-btn>
   </v-col>
   <v-col cols=9 lg=7 md=7 sm=7>
   <v-text-field outlined label=" " dense/>  
   </v-col>
   </v-row>   
   <v-row>
   <v-col cols=3 lg=1 md=1 sm=2>
   <v-btn>
   <v-icon color="primary">mdi-pinterest
   </v-icon>
   </v-btn>
   </v-col>
   <v-col cols=9 lg=7 md=7 sm=7>
   <v-text-field outlined label=" " dense/>  
   </v-col>
   </v-row>
   <h3 class="primary--text">Blogs</h3> 
   <v-row class="mt-0">
   <v-col cols="12" sm=12 md=12 lg=12>
   <Table/>
   </v-col>
   </v-row>
   <div class="text-center">
   <v-btn dense   color="primary" class="text-capitalize">
   Save All
   </v-btn>
   </div>

   </v-form>
   </v-responsive>
   </v-container>
   </div>
   </template>


<script>
import Table from '@/components/Table.vue';
import Appbar from '@/components/Appbar.vue';
import Tags from '../components/Tags.vue'
export default {
  components: {
    Table,
    Appbar,
    Tags
  },
  data () {
    return {
        title: "",
        date: "",
        onel: "",
        name: "",
        about: "",
        subh: "",
        para: "",
        lang: ['English','Arabic'],
        categories: ['Latest','Business','Grow','Product','Inspiring'],
        note: "",
        items: ['right','top','bottom','left'],
        myCroppa1: {},
        myCroppa2: {}
    }
  },
 
 computed: {
      
    },
    methods :{
      
    }
  }

</script>
