<template>
<div>
<Appbar></Appbar>

<v-container class="mt-1">

<v-row>
<h3 class="primary--text"> Blogs</h3>

</v-row>

<v-row>
<v-spacer></v-spacer>
<v-btn dark class="text-capitalize" color="#21b0cc" route to="/about">
+Add Blog
</v-btn>
</v-row>
 <Table></Table>
         
      
  </v-container>
  </div>
</template>

<script>

import Table from '@/components/Table.vue';
import Appbar from '@/components/Appbar.vue';
export default {
  name: 'Home',
  components: {
   Table,
   Appbar
  },
  data () {
      return {
        
}
  },
}
</script>
