<template>

      <div >
       <Appbar></Appbar>
    <v-container mt-25>
    <v-card  flat width="500px" class="mx-auto pa-15 mt-15">
     <v-card-title class="font-weight-black text-center">
     <h4 class="text-center">Sign In</h4>
     </v-card-title>
   <v-text-field outlined label="Email" dense
   /> 
   <v-text-field outlined label="Password" dense
   />
   <v-btn
      color="#21b0cc"
      class="text-capitalize"
      route to="/home"
      dark
      block
    >
     Login 
    </v-btn>
    </v-card>
</v-container>
    </div>
  
</template>

<script>

import Appbar from '@/components/Appbar.vue';
export default {
  components: {
   Appbar
  },
}
</script>

