<template>
<v-dialog v-model="dialogDelete" max-width="800px">
<template v-slot:activator="{ on }">
<a href v-on="on" class="error--text">Delete</a>
</template>
<v-card>
<v-card-title>Are you sure you want to delete this item?</v-card-title>
<v-card-actions class="mt-1 pa-1 pb-3">
<v-spacer></v-spacer>
 <v-btn color="primary" dense width="100px" >Cancel</v-btn>
 <v-btn color="primary" width="100px">Ok</v-btn>
<v-spacer></v-spacer>
</v-card-actions>
</v-card>
</v-dialog>
</template>
<script>
export default{
    data () {
        return {
            dialogDelete: false
        }
    }
}
</script>