<template>
<v-dialog v-model="dialog" max-width="800px">
<template v-slot:activator="{ on, attrs }">
<a href v-on="on" v-bind="attrs" class="primary--text">Edit</a>
</template>
<v-card>
<v-card-title class="headline">Edit Blog</v-card-title>
 <v-card-text>
 <v-container>
 <v-row>
 <v-col cols="12" sm="6" md="6">
 <p class="black--text">Title</p>
 <v-text-field color="black--text"  outlined dense label="" ></v-text-field>
</v-col>
<v-col cols="12" sm="6" md="6">
 <p class="black--text">Author</p>
 <v-text-field color="black--text" outlined dense  label=" " ></v-text-field>
</v-col>
</v-row>
<v-row>
<v-col cols="12" sm="6" md="6">
 <p class="black--text">Date</p>
 <v-text-field color="black--text" outlined dense label="dd-mm-yyyy"></v-text-field>
</v-col>
<v-col class="mt-0 pa-4 ps-5" cols="12" sm="6" md="6">
<p class="black--text">Related</p>
<v-radio-group row>
<v-radio color="primary" label="Yes"></v-radio>
<v-radio color="primary" label="No"></v-radio>
</v-radio-group>
</v-col>
</v-row>
<p class="black--text">Categories</p>
<v-row>
<v-col cols="12" lg=4 md=1 sm=3 class="mt-0 pa-0 ps-2">
   <v-checkbox  label="Latest Articles" value="Latest"  hide-details></v-checkbox>
   </v-col>
   <v-col cols="12" lg=4 md=1 sm=4 class="mt-0 pa-0 ps-2">
   <v-checkbox  label="Business Ideas" value="Business" hide-details>  
   </v-checkbox>
   </v-col>
   <v-col cols="12" lg=4 md=1 sm=4 class="mt-0 pa-0 ps-2">
   <v-checkbox  label="Grow your Sales" value="Grow" hide-details>        
   </v-checkbox>
   </v-col>
   <v-col cols="12" lg=4 md=1 sm=3 class="mt-0 pa-0 ps-2 ">
   <v-checkbox label="Product updates" value="Product" hide-details>
   </v-checkbox>
   </v-col>
   <v-col cols="12" lg=4 md=1 sm=4 class="mt-0 pa-0 ps-2">
   <v-checkbox  label="Inspiring Sales" value="Inspiring" hide-details></v-checkbox>
   </v-col>
</v-row>
<p class="black--text">Tags</p>
<v-row>
   <v-col cols="7" sm=2 lg=3>
   <v-text-field
   
    outlined 
    label="Tag1"
    type="text"
    dense
    clear-icon="mdi-close-box" 
    clearable
    @click:clear="clearMessage()" ></v-text-field>
   </v-col>
   <v-col cols="7" sm=2 lg=3>
   <v-text-field
    outlined
    
      label="Tag 2"
       clear-icon="mdi-close-box"  
       clearable
     @click:clear="cleartag2()"
         dense></v-text-field>
   </v-col>
   <v-col cols="7" sm=2 lg=3>
   <v-btn dense color="primary" width="100px" outlined class="text-capitalize">+ Add </v-btn>
   </v-col>
   </v-row>
</v-container>
</v-card-text>
<v-card-actions>
<v-spacer></v-spacer>
 <v-btn color="primary" width="150px"  class="text-capitalize mt-0">Save</v-btn>
 <v-btn color="primary" width="150px"   class="text-capitalize mt-0">Cancel</v-btn>

 </v-card-actions>
</v-card>
</v-dialog>

</template>
<script>
export default{
    data () {
        return{
         dialog: false
        }
    }

}
</script>