<template>
  <v-container>
    <v-btn
      outlined
      
      @click="print()"
      :loading="btnloading"
      color="primary"
    >
      <v-icon>mdi-file-document</v-icon>Download
    </v-btn>
    <!-- v-print="'#printMe'"  @click="printReport"-->
    <div style="display: none">
      <section slot="pdf-content" ref="printHtml">
      <div>


<v-container class="mt-1">

<v-row>
<h3 class="primary--text"> Blogs</h3>

</v-row>

<v-row>
<v-spacer></v-spacer>
<v-btn dark class="text-capitalize" color="#21b0cc" route to="/about">
+Add Blog
</v-btn>
</v-row>
 
         
      
  </v-container>
  </div>
      </section>
      </div>
      </v-container>
      </template>
      <script>
import { jsPDF } from "jspdf";
export default {
    data() {
     return {
      btnloading: false
     }
    },
    methods: {
       print() {
        let doc = new jsPDF();
      this.btnloading = true;
     
          doc.save("a4.pdf");
        },
       
      }

      
    }

