<template>
    <v-container class="ma-10 mx-auto">
<v-data-table
    :headers="headers"
    :items="inputs"
    class="elevation-1 "
    hide-default-footer>
     
    <template v-slot:item.related>
    <v-row>
    <v-col>
    <v-switch></v-switch>
    </v-col>
    </v-row> 
    </template>
    <template v-slot:item.actions>
    <v-row>
    <v-col md=4 sm=5>
    <Edit/>
    </v-col>
   
    <v-col md=4 sm=5>
    <Delete/>
    </v-col>
    </v-row>
    </template>

    </v-data-table> 
    </v-container>
</template>
<script>
import Edit from '@/components/Edit.vue';
import Delete from '@/components/Delete.vue';
    export default{
        components: {
              Edit,
              Delete
        },
        data () {
            return {
                switch1: 'true',
                headers: [
                    { text: 'Title', align: 'start',
                      sortable: false, value: 'title' },
                    { text: 'Author',value: 'author' },
                    { text: 'Related', value: 'related' },
                    { text: 'Categories', value: 'categories' },
                    { text: 'Tags', value: 'tags' },
                    { text: 'Date', value: 'date' },
                    { text: 'Actions', value: 'actions' , sortable: false }
                ],
                  inputs: [ {
                    title: 'The New Daily post',
                    author: 'John Doe',
                    related: '',
                    categories: 'Design,Fashion',
                    tags: 'Money,Trends,Crafts',
                    date: 'Published 22/10/2020',
                    actions:[]
                  }
                  ] 
            }
            },
             
            methods: {
    
            }
        }
</script>
