<template>
<v-row>
<v-col  cols="7" sm=2 lg=2 >
 <v-text-field
       :label="Tag1"
       v-model="tag1"
       outlined
       dense
       clear-icon="mdi-close-box"  
       clearable
      ></v-text-field>
      </v-col>
      <v-col cols="7" sm=2 lg=2 >
      <v-text-field
       :label="Tag2"
       v-model="tag2"
       outlined
       dense
       clear-icon="mdi-close-box"  
       clearable
      ></v-text-field>
</v-col> 

    <v-col  v-for="(textField, i) in textFields"
     :key="i" cols="7" sm=2 lg=2>
      <v-text-field
       :label="textField.label1"
       v-model="textField.value1"
       outlined
       dense
       :append-icon="mdi-close-box"  
       clearable
        @click:clear="remove(i)"
      ></v-text-field>
    </v-col>
    
<v-col  cols="7" sm=2 lg=2 >
    <v-btn @click="add()" class="primary text-capitalize">+Add</v-btn>
    </v-col>
   
</v-row>
   


</template>
<script>
export default {
data () {
    return {
      textFields: [],
      tag1: '',
      tag2: '',
    }
  },

  methods: {
     add () {
        this.textFields.push({ 
          label1: " ", 
          value1: "",
          
        })
     },

     remove(i) {
         this.textFields.splice(i, 1)
     }
  }
}
</script>

